@import  "../../App.scss";

.landing-section{
    h1{
        text-align: center;
        font-size: 4em;
        color: $primaryColor;
    }
    .pet-card-row{
        .pet-card{
            background-color: #f7f7f7;
            margin: 2% auto;
            border-radius: 10px;
            text-align: center;
            img{
                border-radius: 10px;
            }
            h2{
                font-family: $secondary-font;
                font-weight: 400;
            }
        }
    }
}