@import  "../../App.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
   text-decoration: none;
   transition: .2s;
   color: #000;
}

ul, li{
    list-style-type: none;
}

footer{
    background-color: rgb(249,194,141);
    color: #000;
}

.footer_info h2{
    font-size: 2.5em;
    color: rgb(237,95,0);
}

.footer_info p{
    font-size: 17px;
}

.footer_info{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer_info .footer_width{
    padding: 0 15px;
}

.footer_info h2{
    margin-bottom: 20px;
}

.about, .contact{
    width: 40%;
}

.link{
    width: 20%;
}

.social-media{
    margin-top: 30px;
}

.social-media ul{
    display: flex;
}

.social-media ul li a{
    display: inline-block;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
    background-color: transparent;
    text-align: center;
    color: rgb(237,95,0);
}

.social-media ul li a:hover{
    background-color: rgb(243,173,85);
    color: #000;
}

.link ul li a{
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}

.link ul li a:hover{
    color: rgb(237,95,0);
}

.Contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Contact ul li:hover{
    color: rgb(237,95,0);
}

.Contact ul li span{
    margin-right: 15px;
}

.copy-right{
    padding: 15px 0;
    text-align: center;
    background-color: rgb(237,95,0);
}

@media screen and (max-width:992px) 
{
    .about , .contact{
        width: 35%;
    }

    .link{
        width: 30%;
    }
    
}

@media screen and (max-width:767px) 
{
    .about , .contact, .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info{
        flex-direction: column;
    }
    
}




